<form>
    <script>
        function redirectToSite() {
            let textValue = document.getElementById('textInput').value ?? "7PK0.A";
            let n_res = document.getElementById('n_res').value ?? 100;
            window.location.href = '/search_chains/' + encodeURIComponent(textValue) + '?n_results='+n_res;
        }
    </script>
    <label for="textInput">Chain:</label>
    <input type="text" id="textInput" name="textInput" value="{{ search_id }}" style="width: 75px;" required>
    <label for="n_res" style="margin-left:30px;">#results:</label>
    <input type="text" id="n_res" name="n_res" value="100" style="width: 50px;" required>
    <button type="button" onclick="redirectToSite()">Submit</button>
    <script>
        document.getElementById('textInput').addEventListener("keydown", (event) => {
            if (event.isComposing || event.key === 'Enter') {
                redirectToSite();
            }
        });
        document.getElementById('n_res').addEventListener("keydown", (event) => {
            if (event.isComposing || event.key === 'Enter') {
                redirectToSite();
            }
        });
    </script>
</form>
